langchain==0.3.17
langchain-core==0.3.33
pydantic==2.7.4
ipython==8.17.2
typing_extensions==4.12.2
langgraph==0.2.68
langchain-openai==0.3.1
requests==2.32.3
pytest==8.3.4
fastapi==0.115.8
uvicorn==0.16.0